{% extends "base.html" %}
{% block title_text %}Application - Login{% endblock %}

{% block content %}
    <h1>Log in</h1>
    <span>Please log in using the form below.</span>

    {% if failed_login %}
    <div class="failure-msg">
        {{ failed_login[1] }}. Please try again.
    </div>
    {% endif %}

    <div class="login-form-container">
        <form class="login-form" action="/login" method="POST">
            <input name="username" placeholder="Username" type=text width=40 />
            <input name="password" placeholder="Password" type=password width=40 />
            <button type="submit">Log in</button>
        </form>
    </div>
{% endblock %}