// Document-wide
$fonts: 'Roboto', sans-serif;
$login-internal-colour: #1AAF10;
$logout-internal-colour: #AF1A10;

body {
    font-family: $fonts;
    margin: 0;
}

.content {
    margin-left: 1.5%;

    #login-greeting {
        color: $login-internal-colour;
    }
}

// Navigation
$nav-bg-colour: #333333;
$nav-active-colour: #444444;
$nav-hover-colour: #777777;

.nav-bar {
    overflow: hidden;
    height: 70px;
    background-color: $nav-bg-colour;
    padding: 0 10px 0 10px;
    

    li {
        display: inline;
    }

    a {
        padding: 26px;
        height: inherit;
        text-decoration: none;

        float: left;
        background-color: inherit;
        color: white;
    }

    a:hover {
        background-color: $nav-hover-colour;
    }

    a:active {
        background-color: $nav-active-colour;
    }

    .login-link {
        float: right;

        #login {
            color: $login-internal-colour;
        }
        
        #logout {
            color: $logout-internal-colour;
        }
    }
}

.failure-msg {
    margin: 0.5rem 0 0.5rem 0;
    font-size: 0.75rem;
    color: #ff7575;
}